.DS_Store
.sass-cache
Desktop.ini
node_modules
Thumbs.db
build

## User files
*.sublime-project
*.sublime-workspace

## Generated folders and files
[Dd]ist
[Pp]roduction
*.map

## only for master branch
[Gg]ulp/tasks
