<!doctype html>

<html class="no-js" lang="">

    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Gulp + Browserify kit</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="apple-touch-icon" href="apple-touch-icon.png">

        <link rel="stylesheet" href="app.css">
    </head>

    <body class="page-type">

        <div class="page">

            <header class="page-header">

                <h1 class="page-title">Welcome to Gulp + Browserify kit</h1>

            </header>

            <div class="content" role="main">

                <div class="intro-wrapper">

                    <p class="lead">Thanks for taking a look at this sample project</p>

                    <p class="copy">Make sure to browse the source, because if you're looking at this because you think there's some cool content, you've been misled.</p>

                </div>

            </div>

        </div>

        <footer class="page-footer js-ui-footer" role="contentinfo">

        </footer>

        <script src="global.js"></script>
        <script src="my-page.js"></script>

    </body>

</html>